body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* -----
  GRID CSS
  ----- */
  .grid-container {  display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: auto 1fr auto;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "nav content aside"
      "footer footer footer";
  }
  
  .header { grid-area: header; }
  
  .nav { grid-area: nav; }
  
  .content { grid-area: content; }
  
  .aside { grid-area: aside; }
  
  .footer { grid-area: footer; }
    
    /* ----------------
    RESPONSIVE GRID CSS
    ----------------- */
    @media screen and (max-width: 900px) {
      .grid-container {
        grid-template-areas:
          "header"
          "nav"
          "content"
          "aside"
          "footer";
    
        grid-template-columns: 1fr;
        grid-template-rows:
          auto /* Header */
          auto /* Nav */
          1fr /* Content */
          auto /* Aside */
          auto; /* Footer */
      }
    
      nav, aside {
        margin: 0;
      }
    }
    
  /* ---
  HEADER
  --- */
    .header {
      text-align: center;
      font-size: 25px;
    }
  
  /* --------------
  BUTTON NAVIGATION
  -------------- */
  
  .nav-box {
    position: relative;
    left: 150px;
    width: 70px;
    background: lightblue;
    border-radius: 15px;
  }
  
  .button_nav {
      display: flex;
      align-items: center;
      max-width: 100%;
      height: auto;
      padding: 10px 10px;
      background: none;
      border: none;
      cursor: pointer;
      color: #ffffff;
      opacity: 0.9;
    }
    
    .button_nav:hover {
      opacity: 1;
    }
    
  
    /* -------------
    ADD TASK POPUP
    ------------- */
  
  #show-task-creator {
    border-style: none;
    border-radius: 50px;
    padding: 0px 9px;
    font-size: 30px;
    color: #fff;
    background-color: #02C39A;
    cursor: pointer;
  }
  
  .popup {
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 30px 20px 20px 40px;
    background: #F7F7F7;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 20px;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
  }
  
  .popup.active {
    top: 45%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
  }
  
  .popup .close-btn {
    position: absolute;
    font-size: 25px;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    line-height: 25px;
    cursor: pointer;
  }
  
  .popup h3 {
    margin: 10px 0px 20px;
    font-size: 20px;
  }
  
  .popup label {
    font-size: 14px;
  }
  
  .popup input {
    margin: 10px 0px;
    font: inherit;
    font-size: 13px;
    padding: 7px;
    outline: none;
    border-style: none;
    border-radius: 5px;
  }
  
  .popup input[type="text"] {
    display: block;
    margin: 5px 0px;
    font-size: 13px;
    width: 40%;
  }
  
  textarea {
    font: inherit;
    font-size: 13px;
    margin-top: 5px;
    width: 80%;
    padding: 7px;
    outline: none;
    border-style: none;
    border-radius: 5px;
    resize: none;
  }
  
  .popup input[type="date"],
  .popup input[type="time"],
  .popup input[type="number"] {
    margin-top: 15px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .popup select {
    margin-top: 15px;
    margin-left: 20px;
    border-style: none;
    font: inherit;
    font-size: 13px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup button[type="submit"] {
    float: right;
    padding: 10px 15px;
    border-style: none;
    border-radius: 20px;
    color: #fff;
    background-color: #02C39A;
    cursor: pointer;
  }
  
  /* ------------------------
    RESPONSIVE TASK POPUP CSS
    ------------------------ */
  @media(max-width: 1058px){
    .popup {
     width: 70%;
    }
  
    .popup input[type="text"] {
     width: 40%;
    }
  
  }

  /* ------
    KANBAN
   ------ */
  .board {
    position: relative;
    margin: 1rem;
    padding-bottom: calc(2em + 60px);
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  
  .board:hover {
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .25);
  }
  
  .board h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
  }
  
  .board p {
    padding: 0 2em;
    margin: 0;
  }